.sellCont{
    display: flex;
    justify-content: space-between;
    width: 80%;
    min-height: 300px;
    background-color: #999;
    border-radius: 20px;
    margin: 0 auto;
}

.text{
    padding: 1rem 0 0 1rem;
}

.map{
    display: flex;
    gap: 1rem;
}