.container{
    display: flex;
}

.bigCategories{
    min-width: 300px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    overflow-y: auto;
    border-right: 1px solid black;
    font-size: larger;
}

.smallCategories{
    min-width: 500px;
    min-height: 600px;
}