*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  all: unset;
  cursor: pointer;
  text-decoration: none;
}

a:hover{
  opacity: 80%;
}

body{
  /* background-color: #408EC6; */
  background-color: whitesmoke;
}
